{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contexte</th>
                <th>Niveau</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.nom }}</td>
                <td>{{ scenario.contexte }}</td>
                <td>{{ scenario.niveau }}</td>
                <td>{{ scenario.image }}</td>
                <td>
                    <a href="{{ path('app_scenario_show', {'id': scenario.id}) }}">show</a>
                    <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}">edit</a>
                    <a href="{{ path('app_choix_scenario', {'id': scenario.id}) }}">Accéder aux choix</a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_scenario_new') }}">Create new</a>
{% endblock %}
