{% extends 'base.html.twig' %}

{% block title %}Détails du Scenario{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Détails du Scenario  "{{scenario.nom}}"</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scenario.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ scenario.nom }}</td>
            </tr>
            <tr>
                <th>Contexte</th>
                <td>{{ scenario.contexte }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ scenario.niveau }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ scenario.image }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <a href="{{ path('app_scenario_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Retour à la liste
        </a>
    </div>

    <div class="mt-3">
        <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}" class="btn btn-warning">
            <i class="bi bi-pencil-square"></i> Modifier
        </a>
    </div>

    <div class="mt-4">
        {{ include('scenario/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
